{{ define "title" }} Home Page {{ end }}

{{ define "main" }}
<section class="mx-auto grid gap-4 w-[90%] md:w-[80%] lg:w-[50%]">
    <h1 class="text-4xl text-center">Welcome to Formy</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet accumsan semper. Nulla porttitor
        urna
        vel volutpat consequat. Aliquam ut ex eget justo aliquam facilisis. Fusce ut nisi eu metus molestie posuere. Sed
        facilisis, metus in commodo luctus, felis metus pulvinar justo, sit amet laoreet quam justo sollicitudin dolor.
        Curabitur lacus magna, tincidunt non tellus sed, blandit sodales erat. Aenean a luctus turpis, at tincidunt
        orci.
    </p>
    <p>
        Donec eget vestibulum arcu. Pellentesque fermentum ac sapien non dictum. Mauris accumsan, enim id commodo
        bibendum,
        magna risus molestie erat, in faucibus velit quam non magna. Donec viverra odio urna, varius tempor tortor
        convallis
        sed. Aliquam varius suscipit elit. In odio nunc, pellentesque vitae dolor eu, bibendum accumsan nulla. Donec at
        urna
        efficitur, efficitur erat non, mollis mauris.

    </p>
    <p>
        Donec vitae convallis dui. Vestibulum sagittis, neque quis pretium aliquet, nunc ipsum tincidunt urna, vel
        pretium
        nunc velit nec mauris. Aliquam nec ornare erat. Nulla aliquet consectetur luctus. Aenean vitae nibh rutrum purus
        ultrices aliquet nec vel ex. Integer quis mollis ipsum, a semper magna. Morbi dapibus risus lacinia lacus
        accumsan
        elementum.

    </p>
    <p>
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed id felis vitae metus
        sollicitudin sodales. Maecenas aliquet eget nisi sit amet egestas. Proin accumsan imperdiet sapien a finibus.
        Mauris
        rhoncus massa consequat nibh congue mollis. Sed in velit ut leo condimentum venenatis et in eros. Sed vitae
        mattis
        mauris. Proin quis ipsum neque. Quisque id auctor turpis. Curabitur vitae lorem a justo aliquam commodo. Proin
        vitae
        augue et felis blandit aliquam. Aliquam semper facilisis arcu in mattis. Duis blandit sapien id tortor aliquet
        viverra. Nam dictum porta elementum.

    </p>
    <p>
        Nulla congue cursus nibh, a fermentum erat rhoncus nec. Nulla tincidunt turpis sed dolor lacinia scelerisque.
        Donec
        nec tellus efficitur sem maximus pharetra maximus nec nulla. Sed nisi lectus, molestie id posuere ornare,
        vestibulum
        non augue. Pellentesque bibendum, nibh quis imperdiet rutrum, metus quam elementum tellus, sit amet hendrerit
        velit
        nulla in ligula. In nulla tortor, condimentum sit amet pulvinar et, sodales vitae tellus. Phasellus eleifend
        posuere
        erat, sit amet finibus orci pellentesque nec. Nunc pretium, nunc in bibendum tincidunt, metus urna luctus nisi,
        vel
        mattis erat dolor at lectus.
    </p>
</section>
{{ end }}