{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ .Title }} - formme</title>
</head>

<body>
    <header>
        <a href="/">formme</a>
        {{ template "nav" . }}
    </header>

    <main>
        {{ with .Toast }}
        <div class="toast">{{.}}</div>
        {{ end }}

        {{ template "main" . }}
    </main>

    <footer>
        2025 - HapaxRedux &copy;
    </footer>
</body>

</html>
{{ end }}